doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/css/main.css')
    script(defer='' src='/js/table.js')
    title Create Listing
  body
    form.topnav(action='/gallery' method='get')
      a(href='/') About
      a(href='/gallery') Gallery
      a(href='/create') Add Listing
      div
        input(name='query' type='search' placeholder='Search..')
        select#cars(name='category')
          option(value='') None
          option(value='coupe') Coupe
          option(value='truck') Truck
          option(value='suv') SUV
        input(type='submit' value='Submit')

    .createBody
      h1#mainH1 Add a Listing
      .createDiv
        form(action='/create' method='post')
          label.createLabel(for='listingTitle') Title:
          input#listingTitle(name='listingTitle' placeholder='Listing title' required)
          
          label.createLabel(for='imgInput') Image URL:
          input#imgInput(name='imgInput' placeholder='https://example.com/image.jpg' required)
          
          label.createLabel(for='textA') Description:
          textarea#textA(name='textA' rows='4' cols='30' required)
          
          label.createLabel(for='carsCat') Category:
          select#carsCat(name='carsCat')
            option(value='Coupe') Coupe
            option(value='SUV') SUV
            option(value='Truck') Truck
            option(value='Other') Other
            
          label.createLabel(for='date') Sale Date:
          input#date(name='date' type='date' required)

          input(type='submit' value='Submit')
